node modules
backend/node_modules/
frontend/node_modules/

# logs
*.log

# environment files
*.env

# build output
frontend/build/
backend/dist/
backend/build/

# OS & Editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/
